/* CSS Document */
/* 基本元素 */
html{margin:0;padding:0;background:#FFF;font-size:12px;font-family:Tahoma; color:#333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style-type:none; list-style-image:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
p{line-height:24px;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;z}
input,textarea,select{*font-size:100%;}
legend{color:#000;}del,ins{text-decoration:none;}
img{border:0;}
a{text-decoration:none;color:#333;}
a:link{color:#00A498;}
a:visited{color:#00A498;}
a:hover{color:#00A498;text-decoration:underline;}
a:focus{color:#00A498;}
.clear{clear:both;}

/*选中背景变色*/
::-moz-selection{background:#00A498;color:#fff;}
::selection {background:#00A498;color:#fff;}
code::-moz-selection {background: #333333;}
code::selection {background: #333333;}

/* 布局 */
#home{width:960px;margin:0 auto;}/*最大的div*/
#header{width:960px;}/*头部div*/
#main{width:960px;zoom:1;margin-bottom:10px;}/*中间div*/
#main:after{content:'\0020';display:block;height:0;clear:both;}
#footer{width:100%; margin-top:10px; margin-bottom:10px; padding-top:10px; border-top:#ccc solid 2px; text-align:center;}/*底部div*/

#mainContent{float:left;width:100%;}/*主体div*/
.forFlow{min-height:1px;margin-right:240px;}/*主体内容div*/
#sideBar{float:left;position:relative;width:220px;margin-left:-220px;}/*主体侧栏div*/

/* 样式详情 */
/* 博客LOGO和标题 */
#blogTitle{height:100px; margin-top:20px; margin-bottom:10px;}
#blogTitle #lnkBlogLogo{height:100px; float:left;}
#blogTitle #lnkBlogLogo #blogLogo{}
#blogTitle h1{float:left; font-size:50px; font-family:"微软雅黑"; height:100px; line-height:80px;}
#blogTitle h1 a{color:#115b6e;}
#blogTitle h2{}

/* 导航 */
#navigator{ width:100%;height:30px; margin-bottom:30px; border-bottom:#e7e7e7 solid 2px;}
#navList { width:730px; height:30px; margin-bottom:10px; padding-left:20px; float:left; overflow:auto;}
#navList li{ margin-right:20px; list-style-type:none; list-style-image:none;float:left;}
.blogStats{}

/* 主体 */
.forFlow{}
.day{ margin-bottom:20px; padding-left:20px; padding-right:20px; padding-top:0px; padding-bottom:0px; border:1px solid #E7E7E7;}
.dayTitle{ display:none;}
.postTitle{ margin-top:10px; margin-bottom:10px; font-size:18px; }
.postTitle a{color:#333; font-size:18px; font-family:"微软雅黑";text-decoration:none;}
.postTitle a:link{color:#333;}
.postTitle a:visited{color:#333;}
.postTitle a:hover{color:#00A498;}
.postTitle a:focus{color:#00A498;}

.postCon{padding-top:10px; font-size:12px; overflow:auto; border-top:1px solid #E7E7E7; }
.postDesc{margin-bottom:10px; padding-top:10px; color:#999; text-align:right;}
.topicListFooter{}






