html{color:#000;background:#FFF;font-size:12px;font-family:Tahoma;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
p{line-height:24px; margin:10px;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}del,ins{text-decoration:none;}
img{border:0;}

/*上右下左*/
.text{padding:2px 3px 0px 3px;height:18px;line-height:17px;background-image:url(../Images/textbox_bg.gif);color:#333;border-left:1px solid #999;border-top:1px solid #999;border-right:1px solid #cacaca;border-bottom:1px solid #cacaca;letter-spacing:0px;}
.textbig{padding:4px 4px 4px 4px;height:18px;line-height:18px;font-size:14px;font-weight:bold;background-image:url(../Images/textbox_bg.gif);border-left:1px solid #999;border-top:1px solid #999;border-right:1px solid #cacaca;border-bottom:1px solid #cacaca;letter-spacing:0px;}
.textarea{font-family:Tahoma;padding:3px 3px 3px 3px;border:1px solid #999;background-image:url(../Images/textbox_bg.gif);background-repeat:repeat-x;overflow-y:auto;line-height:16px;letter-spacing:0px;resize:none;}
.radio,.checkbox{border:0px;vertical-align:middle; margin:-2px 2px 1px 1px;background-image:none; width:auto; height:auto;}
.file{height:24px;line-height:20px;width:280px;}
.select{height:22px;border:1px solid #999; padding:1px 1px 1px 1px;background-image:url(../Images/textbox_bg.gif);outline:none;letter-spacing:1px;}
/*.button{border:1px solid #999;width:80px;height:30px;outline:none;font-size:12px; 
         color:#333; cursor:pointer; background-image:url(../Images/button_bg2.png);}
.button:hover{background-color:#63c7fe;}*/
.fin{ outline:none;border-left:1px solid #999;border-top:1px solid #999;border-right:1px solid #cacaca;border-bottom:1px solid #cacaca;}

.textbig2{outline:none; color:#333; padding:4px 4px 4px 4px;height:18px;line-height:18px;font-size:14px;font-weight:bold;background-image:url(../Images/textbox_bg.gif);border:2px solid #999;letter-spacing:0px;}
.textbig2fin{border:2px solid #666;}

.textlogin{outline:none; color:#333; padding:4px 4px 4px 4px;height:18px;line-height:18px;font-size:14px;font-weight:bold;border:2px solid #999;letter-spacing:0px;background-image:url(../Images/textbox_bg.gif);}
.textlogin-in{outline:none; color:#333; padding:4px 4px 4px 4px;height:18px;line-height:18px;font-size:14px;font-weight:bold;border:2px solid #666;letter-spacing:0px;background-image:url(../Images/textbox_bg.gif);}


.imgcaptcha{vertical-align:middle; border:2px solid #999; height:26px; margin:0px; padding:0px; cursor:pointer;}


.selectdiv{display: inline-block; outline:none; color:#333;height:26px;line-height:26px;font-size:14px;font-weight:bold;border:2px solid #999; zoom:1; text-indent:4px;}
.selectdiv-in{display: inline-block; outline:none; color:#333;height:26px;line-height:26px;font-size:14px;font-weight:bold;border:2px solid #666;}


.button
{
	display: inline-block; 
    outline: none; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    font: 12px/100% Arial, Helvetica, sans-serif;
    /*padding: .5em 2em .55em; */
    padding:6px;
    /*text-shadow: 0 1px 1px rgba(0,0,0,.3); 
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em; 
    border-radius: .5em; 
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
    box-shadow: 0 1px 2px rgba(0,0,0,.2); */
    
    /*background-image:url(../Images/button_bg2.png);*/
}
.button:active { 
    position: relative; 
    top: 1px;
} 


/*
所有主流浏览器都支持 <button> 标签。
重要事项：如果在 HTML 表单中使用 button 元素，不同的浏览器会提交不同的值。Internet Explorer 将提交 <button> 与 <button/> 之间的文本，
而其他浏览器将提交 value 属性的内容。请在 HTML 表单中使用 input 元素来创建按钮。
*/

.w10{width:10px;}.w20{width:20px;}.w40{width:40px;}.w60{width:60px;}.w80{width:80px;}
.w100{width:100px;}.w120{width:120px;}.w140{width:140px;}.w180{width:180px;}.w200{width:200px;}
.w300{width:300px;}.w400{width:400px;}.w500{width:500px;}.w600{width:600px;}.w700{width:700px;}.w800{width:800px;}
.h10{height:10px;}.h20{height:20px;}.h40{height:40px;}.h60{height:60px;}.h80{height:80px;}
.h100{height:100px;}.h120{height:120px;}.h140{height:140px;}.h180{height:180px;}.h200{height:200px;}
.h300{height:300px;}.h400{height:400px;}.h500{height:500px;}.h600{height:600px;}.h700{height:700px;}.h800{height:800px;}


.textBoxSmall{width:480px; height:100px;}
.textBoxBig{width:600px; height:200px;}

.login{background-color:#79be1e; color:#fff; border:1px solid #96a37b; font-size:14px;letter-spacing:2px; font-weight:bold;}
.login:hover{background-color:#89d228; color:#fff; border:1px solid #96a37b; font-size:14px;letter-spacing:2px; font-weight:bold;}


.blue{background-color:#48b5f2; color:#0f4b6d; border:1px solid #84acc3;}
.blue:hover{background-color:#63c7fe; color:#0f4b6d; border:1px solid #84acc3;}

.green{background-color:#79be1e; color:#345903; border:1px solid #96a37b;}
.green:hover{background-color:#89d228; color:#345903; border:1px solid #96a37b;}

.orange{background-color:#e38d27; color:#693e0a; border:1px solid #bea280;}
.orange:hover{background-color:#ec9732; color:#693e0a; border:1px solid #bea280;}

.gray{background-color:#a9adb1;  color:#525252; border:1px solid #a5a5a5;}
.gray:hover{background-color:#b6bbc0; color:#525252; border:1px solid #a5a5a5;}

.big{ padding:12px; font-size:16px; font-weight:bold;font-family:微软雅黑;}

.sd{background-color:#a9adb1;  color:#525252; border:1px solid #a5a5a5; font-size:14px;letter-spacing:1px; font-weight:bold;}
.sd:hover{background-color:#b6bbc0; color:#525252; border:1px solid #a5a5a5; font-size:14px;letter-spacing:1px; font-weight:bold;}